<div class="croppable-wrapper">
  <%= fields_for :croppables do |croppables| %>
    <%= croppables.fields_for method do |croppable| %>
      <%= croppable.hidden_field :base, value: name %>
      <%= croppable.file_field :image, class: "croppable-input",
        data: { width: width, height: height },
        accept: ActiveStorage.web_image_content_types.join(",") %>
      <div class="croppable-preview">
        <div class="croppable-container"></div>
        <div class="croppable-controls">
          <%= croppable.fields_for :data do |data| %>
            <%= data.hidden_field :x, class: "croppable-x" %>
            <%= data.hidden_field :y, class: "croppable-y" %>
            <%= data.hidden_field :scale, class: "croppable-scale" %>
            <%= data.color_field :background_color, class: "croppable-bgcolor" %>
          <% end %>
          <button class="croppable-center">center</button>
          <button class="croppable-fit">fit</button>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
