<%= content_tag :div, id: "croppable-#{dom_id(form.object)}-#{method}", class: "croppable-wrapper#{disabled ? ' disabled' : ''}", data: { width: width, height: height } do %>
  <div class="croppable-droparea" style="width: <%= width %>px; height: <%= height %>px;">
    <%= render 'croppable/uploader' %>
  </div>
  <%= form.fields_for method do |croppable| %>
    <%= croppable.file_field :image, class: "croppable-input",
      accept: ActiveStorage.web_image_content_types.join(","), disabled: disabled %>
    <%= croppable.check_box :delete, class: "croppable-input-delete", disabled: disabled %>
    <div class="croppable-preview">
      <div class="croppable-container">
        <% if original.present? && original.persisted? %>
          <%= image_tag original, width: width, height: height, class: "croppable-image" %>
        <% end %>
      </div>
      <div class="croppable-controls">
        <%= croppable.fields_for :data, model: data do |data_form| %>
          <%= data_form.hidden_field :x, class: "croppable-x", disabled: disabled %>
          <%= data_form.hidden_field :y, class: "croppable-y", disabled: disabled %>
          <%= data_form.hidden_field :scale, class: "croppable-scale", disabled: disabled %>
          <%= data_form.color_field :background_color, class: "croppable-bgcolor", value: data&.background_color || "#FFFFFF", disabled: disabled %>
        <% end %>
        <button class="croppable-center"></button>
        <button class="croppable-fit"></button>
        <button class="croppable-delete"></button>
      </div>
    </div>
  <% end %>
<% end %>
