<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id="product-fields">
    <div>
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name %>
    </div>

    <div>
      <%= form.label :logo, style: "display: block" %>
      <%= form.croppable_field :logo %>
    </div>
  </div>

  <h2>Widgets</h2>

  <% form.object.widgets << Product::Widget.new if form.object.widgets.blank? %>
  <%= form.fields_for :widgets do |wf| %>
    <div id="<%= dom_id(wf.object) %>">
      <div>
        <%= wf.label :name, style: "display: block" %>
        <%= wf.text_field :name %>
      </div>

      <div>
        <%= wf.croppable_field :image %>
      </div>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
